n8n/alerts_engine.json
{
  "name": "AG Perform — Engine de Alertas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 6 * * *" }]
        }
      },
      "id": "node-schedule",
      "name": "Agendamento 6h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "SUPABASE_URL", "value": "https://lsccpbfuatpwycrtksrb.supabase.co", "type": "string" },
            { "id": "c2", "name": "SUPABASE_KEY", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzY2NwYmZ1YXRwd3ljcnRrc3JiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg4MzY3MywiZXhwIjoyMDkwNDU5NjczfQ.NwYOCZ9_udnORBFga0ADTSZRxYqbTvaDlnyEfr5xod8", "type": "string" },
            { "id": "c3", "name": "DATE_YESTERDAY", "value": "={{ DateTime.now().minus({days: 1}).toFormat('yyyy-MM-dd') }}", "type": "string" },
            { "id": "c4", "name": "DATE_7D_AGO",    "value": "={{ DateTime.now().minus({days: 7}).toFormat('yyyy-MM-dd') }}", "type": "string" }
          ]
        }
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/meta_account_daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').item.json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').item.json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "date",   "value": "=eq.{{ $('Config').item.json.DATE_YESTERDAY }}" },
            { "name": "select", "value": "account_id,account_name,spend,impressions,clicks,leads,frequency,cpm,ctr,reach" }
          ]
        },
        "options": {}
      },
      "id": "node-meta-yesterday",
      "name": "Buscar Meta D-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/meta_account_daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').item.json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').item.json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "date",   "value": "=gte.{{ $('Config').item.json.DATE_7D_AGO }}" },
            { "name": "select", "value": "account_id,leads,spend" }
          ]
        },
        "options": {}
      },
      "id": "node-meta-7d",
      "name": "Buscar Meta 7 dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/google_account_daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').item.json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').item.json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "date",   "value": "=eq.{{ $('Config').item.json.DATE_YESTERDAY }}" },
            { "name": "select", "value": "account_id,account_name,spend,impressions,clicks,conversions,search_impression_share,search_lost_is_budget,search_lost_is_rank" }
          ]
        },
        "options": {}
      },
      "id": "node-google-yesterday",
      "name": "Buscar Google D-1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── CONSTANTES ───────────────────────────────────────────────\nconst THRESHOLDS = {\n  meta_cpm_warning:   35,\n  meta_cpm_critical:  50,\n  meta_ctr_warning:   1.0,   // %\n  meta_ctr_critical:  0.5,   // %\n  meta_freq_warning:  3.5,\n  meta_freq_critical: 5.0,\n  meta_no_leads_days: 7,\n  google_search_is_warning: 0.30,  // 30%\n};\n\nconst supabaseUrl = $('Config').item.json.SUPABASE_URL;\nconst supabaseKey = $('Config').item.json.SUPABASE_KEY;\nconst dateYesterday = $('Config').item.json.DATE_YESTERDAY;\n\nconst metaRows = $('Buscar Meta D-1').all().map(i => i.json);\nconst meta7dRows = $('Buscar Meta 7 dias').all().map(i => i.json);\nconst googleRows = $('Buscar Google D-1').all().map(i => i.json);\n\n// Agrupar meta 7d por account_id\nconst meta7dByAccount = {};\nfor (const r of meta7dRows) {\n  if (!meta7dByAccount[r.account_id]) meta7dByAccount[r.account_id] = { total_leads: 0, total_spend: 0 };\n  meta7dByAccount[r.account_id].total_leads += parseFloat(r.leads ?? 0);\n  meta7dByAccount[r.account_id].total_spend += parseFloat(r.spend ?? 0);\n}\n\nconst alerts = [];\n\n// ── META ALERTS ────────────────────────────────────────────\nfor (const row of metaRows) {\n  const cpm = parseFloat(row.cpm ?? 0);\n  const ctr = parseFloat(row.ctr ?? 0) * 100;  // ctr is 0-1 in DB, convert to %\n  const freq = parseFloat(row.frequency ?? 0);\n  const leads = parseInt(row.leads ?? 0);\n  const spend = parseFloat(row.spend ?? 0);\n  const accountId = row.account_id;\n  const accountName = row.account_name ?? accountId;\n\n  // CPM\n  if (cpm > THRESHOLDS.meta_cpm_critical) {\n    alerts.push({\n      platform: 'meta', severity: 'critical', category: 'cpm',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'cpm', current_value: cpm, threshold_value: THRESHOLDS.meta_cpm_critical,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `CPM crítico: ${accountName} — R$${cpm.toFixed(2)} (limite: R$${THRESHOLDS.meta_cpm_critical})`,\n      recommendation: 'Revisar segmentações e criativos. CPM elevado indica baixa relevância do anúncio.',\n      is_resolved: false\n    });\n  } else if (cpm > THRESHOLDS.meta_cpm_warning) {\n    alerts.push({\n      platform: 'meta', severity: 'warning', category: 'cpm',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'cpm', current_value: cpm, threshold_value: THRESHOLDS.meta_cpm_warning,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `CPM elevado: ${accountName} — R$${cpm.toFixed(2)} (limite: R$${THRESHOLDS.meta_cpm_warning})`,\n      recommendation: 'Monitorar frequência e qualidade dos criativos.',\n      is_resolved: false\n    });\n  }\n\n  // CTR\n  if (ctr < THRESHOLDS.meta_ctr_critical) {\n    alerts.push({\n      platform: 'meta', severity: 'critical', category: 'ctr',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'ctr', current_value: ctr, threshold_value: THRESHOLDS.meta_ctr_critical,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `CTR crítico: ${accountName} — ${ctr.toFixed(2)}% (mínimo: ${THRESHOLDS.meta_ctr_critical}%)`,\n      recommendation: 'Pausar criativos de baixo desempenho. Testar novos formatos e copies.',\n      is_resolved: false\n    });\n  } else if (ctr < THRESHOLDS.meta_ctr_warning) {\n    alerts.push({\n      platform: 'meta', severity: 'warning', category: 'ctr',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'ctr', current_value: ctr, threshold_value: THRESHOLDS.meta_ctr_warning,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `CTR abaixo do benchmark: ${accountName} — ${ctr.toFixed(2)}%`,\n      recommendation: 'Avaliar qualidade dos criativos e relevância da segmentação.',\n      is_resolved: false\n    });\n  }\n\n  // Frequência\n  if (freq > THRESHOLDS.meta_freq_critical) {\n    alerts.push({\n      platform: 'meta', severity: 'critical', category: 'frequency',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'frequency', current_value: freq, threshold_value: THRESHOLDS.meta_freq_critical,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `Frequência crítica: ${accountName} — ${freq.toFixed(1)}x (limite: ${THRESHOLDS.meta_freq_critical}x)`,\n      recommendation: 'Renovar criativos urgentemente. Considerar ampliar audiência.',\n      is_resolved: false\n    });\n  } else if (freq > THRESHOLDS.meta_freq_warning) {\n    alerts.push({\n      platform: 'meta', severity: 'warning', category: 'frequency',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'frequency', current_value: freq, threshold_value: THRESHOLDS.meta_freq_warning,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `Frequência elevada: ${accountName} — ${freq.toFixed(1)}x`,\n      recommendation: 'Planejar renovação de criativos nos próximos dias.',\n      is_resolved: false\n    });\n  }\n\n  // Zero leads em 7 dias\n  const week = meta7dByAccount[accountId];\n  if (week && week.total_spend > 50 && week.total_leads === 0) {\n    alerts.push({\n      platform: 'meta', severity: 'critical', category: 'leads',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'leads_7d', current_value: 0, threshold_value: 1,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `Zero leads em 7 dias: ${accountName} (R$${week.total_spend.toFixed(0)} investidos)`,\n      recommendation: 'Verificar pixel, formulário e otimização da campanha.',\n      is_resolved: false\n    });\n  }\n}\n\n// ── GOOGLE ALERTS ──────────────────────────────────────────\nfor (const row of googleRows) {\n  const is = parseFloat(row.search_impression_share ?? 0);\n  const accountId = row.account_id;\n  const accountName = row.account_name ?? accountId;\n  const spend = parseFloat(row.spend ?? 0);\n\n  // Search IS baixo\n  if (is > 0 && is < THRESHOLDS.google_search_is_warning) {\n    const lostBudget = parseFloat(row.search_lost_is_budget ?? 0);\n    const reason = lostBudget > 0.2 ? 'por orçamento' : 'por qualidade/lance';\n    alerts.push({\n      platform: 'google', severity: 'warning', category: 'impression_share',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'search_impression_share', current_value: is * 100, threshold_value: THRESHOLDS.google_search_is_warning * 100,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `Search IS baixo: ${accountName} — ${(is * 100).toFixed(1)}% (perdendo ${reason})`,\n      recommendation: lostBudget > 0.2\n        ? 'Considerar aumentar o budget diário da campanha.'\n        : 'Revisar Quality Score das keywords e lances.',\n      is_resolved: false\n    });\n  }\n\n  // Zero conversões com gasto significativo\n  const conversions = parseFloat(row.conversions ?? 0);\n  if (spend > 100 && conversions === 0) {\n    alerts.push({\n      platform: 'google', severity: 'warning', category: 'conversions',\n      entity_type: 'account', entity_id: accountId, entity_name: accountName,\n      metric: 'conversions', current_value: 0, threshold_value: 1,\n      account_id: accountId, account_name: accountName, date: dateYesterday,\n      message: `Zero conversões: ${accountName} investiu R$${spend.toFixed(0)} sem converter`,\n      recommendation: 'Verificar tag de conversão e landing page. Revisar match types das keywords.',\n      is_resolved: false\n    });\n  }\n}\n\n// Retorna os alertas gerados com credenciais Supabase\nreturn alerts.map(alert => ({\n  json: {\n    ...alert,\n    _supabase_url: supabaseUrl,\n    _supabase_key: supabaseKey\n  }\n}));\n"
      },
      "id": "node-engine",
      "name": "Engine de Alertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "has-alerts", "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Tem alertas?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._supabase_url }}/rest/v1/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $json._supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json._supabase_key }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "resolution=ignore-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: $json.platform, severity: $json.severity, category: $json.category, entity_type: $json.entity_type, entity_id: $json.entity_id, entity_name: $json.entity_name, metric: $json.metric, current_value: $json.current_value, threshold_value: $json.threshold_value, account_id: $json.account_id, account_name: $json.account_name, message: $json.message, recommendation: $json.recommendation, is_resolved: false, date: $json.date }) }}",
        "options": {}
      },
      "id": "node-save",
      "name": "Salvar Alertas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Agendamento 6h30": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": {
      "main": [[
        { "node": "Buscar Meta D-1", "type": "main", "index": 0 },
        { "node": "Buscar Meta 7 dias", "type": "main", "index": 0 },
        { "node": "Buscar Google D-1", "type": "main", "index": 0 }
      ]]
    },
    "Buscar Meta D-1": { "main": [[{ "node": "Engine de Alertas", "type": "main", "index": 0 }]] },
    "Buscar Meta 7 dias": { "main": [[{ "node": "Engine de Alertas", "type": "main", "index": 1 }]] },
    "Buscar Google D-1": { "main": [[{ "node": "Engine de Alertas", "type": "main", "index": 2 }]] },
    "Engine de Alertas": { "main": [[{ "node": "Tem alertas?", "type": "main", "index": 0 }]] },
    "Tem alertas?": { "main": [[{ "node": "Salvar Alertas", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
