n8n/google_hourly_sync.json
{
  "name": "Google Ads — Sync Horário",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "15 * * * *" }]
        }
      },
      "id": "node-schedule",
      "name": "Agendamento (todo hora, :15)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "SUPABASE_URL",       "value": "https://lsccpbfuatpwycrtksrb.supabase.co", "type": "string" },
            { "id": "c2", "name": "SUPABASE_KEY",       "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzY2NwYmZ1YXRwd3ljcnRrc3JiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg4MzY3MywiZXhwIjoyMDkwNDU5NjczfQ.NwYOCZ9_udnORBFga0ADTSZRxYqbTvaDlnyEfr5xod8", "type": "string" },
            { "id": "c3", "name": "DEVELOPER_TOKEN",    "value": "SEU_DEVELOPER_TOKEN_AQUI", "type": "string" },
            { "id": "c4", "name": "MANAGER_ACCOUNT_ID", "value": "SEU_MCC_ID_AQUI", "type": "string" },
            { "id": "c5", "name": "TODAY",              "value": "={{ DateTime.now().toFormat('yyyy-MM-dd') }}", "type": "string" }
          ]
        }
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/ad_accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').item.json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').item.json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "platform",  "value": "eq.google" },
            { "name": "is_active", "value": "eq.true" },
            { "name": "select",    "value": "client_id,account_id,account_name" }
          ]
        },
        "options": {}
      },
      "id": "node-get-accounts",
      "name": "Buscar Contas Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/agency_api_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').item.json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').item.json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "platform",   "value": "eq.google" },
            { "name": "is_active",  "value": "eq.true" },
            { "name": "select",     "value": "access_token" }
          ]
        },
        "options": {}
      },
      "id": "node-agency-token",
      "name": "Buscar Token Agência Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/client_api_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $('Config').item.json.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $('Config').item.json.SUPABASE_KEY }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "platform",  "value": "eq.google" },
            { "name": "is_active", "value": "eq.true" },
            { "name": "select",    "value": "client_id,access_token" }
          ]
        },
        "options": {}
      },
      "id": "node-client-tokens",
      "name": "Buscar Tokens Clientes Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "position": [900, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const accounts    = $('Buscar Contas Google').all().map(item => item.json);\nconst agencyItems = $('Buscar Token Agência Google').all();\nconst clientItems = $('Buscar Tokens Clientes Google').all();\n\nconst agencyToken = agencyItems.length > 0 ? agencyItems[0].json?.access_token : null;\n\nconst clientTokenMap = {};\nfor (const item of clientItems) {\n  if (item.json?.client_id) clientTokenMap[item.json.client_id] = item.json.access_token;\n}\n\nconst today            = $('Config').item.json.TODAY;\nconst developerToken   = $('Config').item.json.DEVELOPER_TOKEN;\nconst managerAccountId = $('Config').item.json.MANAGER_ACCOUNT_ID;\n\nreturn accounts.map(acc => ({\n  json: {\n    account_id:         acc.account_id.replace(/-/g, ''),\n    account_id_display: acc.account_id,\n    account_name:       acc.account_name,\n    client_id:          acc.client_id,\n    access_token:       clientTokenMap[acc.client_id] ?? agencyToken,\n    developer_token:    developerToken,\n    manager_account_id: managerAccountId,\n    today,\n    supabase_url:       $('Config').item.json.SUPABASE_URL,\n    supabase_key:       $('Config').item.json.SUPABASE_KEY\n  }\n}));\n"
      },
      "id": "node-merge",
      "name": "Montar Lista Contas Google",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop",
      "name": "Loop por Conta Google",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://googleads.googleapis.com/v17/customers/{{ $json.account_id }}/googleAds:search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",      "value": "=Bearer {{ $json.access_token }}" },
            { "name": "developer-token",    "value": "={{ $json.developer_token }}" },
            { "name": "login-customer-id",  "value": "={{ $json.manager_account_id }}" },
            { "name": "Content-Type",       "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `SELECT customer.id, segments.date, segments.hour, metrics.cost_micros, metrics.impressions, metrics.clicks, metrics.conversions, metrics.conversions_value, metrics.ctr, metrics.average_cpc FROM customer WHERE segments.date = '${$json.today}'` }) }}",
        "options": {}
      },
      "id": "node-api",
      "name": "Google Ads API (horário)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = [];\nconst loopItem = $('Loop por Conta Google').item.json;\n\nfor (const item of $input.all()) {\n  const rows = item.json?.results ?? [];\n\n  for (const row of rows) {\n    const costMicros = parseInt(row.metrics?.costMicros ?? 0);\n    const spend = costMicros / 1_000_000;\n    const avgCpcMicros = parseInt(row.metrics?.averageCpc ?? 0);\n    const avgCpc = avgCpcMicros / 1_000_000;\n\n    const hour = parseInt(row.segments?.hour ?? 0, 10);\n\n    items.push({\n      json: {\n        account_id:       loopItem.account_id_display,\n        account_name:     loopItem.account_name ?? '',\n        date:             row.segments?.date,\n        hour,\n        spend,\n        impressions:      parseInt(row.metrics?.impressions ?? 0),\n        clicks:           parseInt(row.metrics?.clicks ?? 0),\n        conversions:      parseFloat(row.metrics?.conversions ?? 0),\n        conversion_value: parseFloat(row.metrics?.conversionsValue ?? 0),\n        average_cpc:      avgCpc,\n        synced_at:        new Date().toISOString(),\n        _supabase_url:    loopItem.supabase_url,\n        _supabase_key:    loopItem.supabase_key\n      }\n    });\n  }\n}\nreturn items.length > 0 ? items : [{ json: { _skip: true } }];\n"
      },
      "id": "node-transform",
      "name": "Transformar Dados Horários Google",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "no-skip", "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Tem dados Google?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._supabase_url }}/rest/v1/google_account_hourly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $json._supabase_key }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json._supabase_key }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.account_id, account_name: $json.account_name, date: $json.date, hour: $json.hour, spend: $json.spend, impressions: $json.impressions, clicks: $json.clicks, conversions: $json.conversions, conversion_value: $json.conversion_value, average_cpc: $json.average_cpc, synced_at: $json.synced_at }) }}",
        "options": {}
      },
      "id": "node-save",
      "name": "Salvar Google Horário no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Agendamento (todo hora, :15)": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Buscar Contas Google", "type": "main", "index": 0 }]] },
    "Buscar Contas Google": {
      "main": [[
        { "node": "Buscar Token Agência Google", "type": "main", "index": 0 },
        { "node": "Buscar Tokens Clientes Google", "type": "main", "index": 0 }
      ]]
    },
    "Buscar Token Agência Google": { "main": [[{ "node": "Montar Lista Contas Google", "type": "main", "index": 0 }]] },
    "Buscar Tokens Clientes Google": { "main": [[{ "node": "Montar Lista Contas Google", "type": "main", "index": 1 }]] },
    "Montar Lista Contas Google": { "main": [[{ "node": "Loop por Conta Google", "type": "main", "index": 0 }]] },
    "Loop por Conta Google": { "main": [[{ "node": "Google Ads API (horário)", "type": "main", "index": 0 }]] },
    "Google Ads API (horário)": { "main": [[{ "node": "Transformar Dados Horários Google", "type": "main", "index": 0 }]] },
    "Transformar Dados Horários Google": { "main": [[{ "node": "Tem dados Google?", "type": "main", "index": 0 }]] },
    "Tem dados Google?": { "main": [[{ "node": "Salvar Google Horário no Supabase", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {}
}
